.App {
	text-align: center;
  }
  
  .App-logo {
	height: 40vmin;
	pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
	.App-logo {
	  animation: App-logo-spin infinite 20s linear;
	}
  }
  
  .App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
  }
  
  .App-link {
	color: #61dafb;
  }
  
  @keyframes App-logo-spin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }
  
  ul {
	  list-style: none;
	  padding: 0;
	  margin: 0;
  }
  
  li {
	  padding: 0;
	  margin: 0;
	  border-color: black;
	  border-style: solid;
	  border-width: 1px;
	  font-size: large;
  }
  
  body {
	  font-family: 'Roboto', sans-serif;
	  padding: 3em;
  }
  
  .App-Content > div {
	  display: inline-block;
	  vertical-align: top;
	  margin-right: 1.5em;
  }
  
  label {
	  font-size: large
  }
  
  input {
	  font-size: large;
  }
  
  button {
	  font-size: large;
	  font-weight: bold;
  }